{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Todo List{% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-light">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 bg-dark text-white min-vh-100 p-3">
			<h3 class="mb-4"><i class="fas fa-tasks me-2"></i>Menu</h3>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'task-list' %}">
						<i class="fas fa-home me-2"></i>Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'tag-list' %}">
						<i class="fas fa-tags me-2"></i>Tags
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-10 p-4">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 